* {
  margin: 0;
  padding: 0;
}

*::selection {
  background-color: #688f4e;
  color: white;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-image: url(img/backgrounds/backgroundHeader.png);
  background-attachment: fixed;
  display: flex;
  width: 100%;
  height: 90px;
  position: absolute;
  z-index: 10;
  min-width: 980px;
}

header.fixed {
  position: fixed;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.headerLogo {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 12%;
  margin-top: 10px;
}

.headerLogo img {
  margin-bottom: -2px;
  margin-left: -75px;
}

.company span {
  margin-left: 15px;
}

nav {
  margin-top: 16px;
  padding-left: 40%;
}

.topNav a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 12px 26px;
}

.topNav .icon {
  display: none;
}

header a {
  display: inline-block;
  color: #688f4e;
  line-height: 2;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

header a:after {
  background-color: #688f4e;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

a:hover:after,
a:focus:after {
  width: 100%;
}

.burger {
  display: none;
  padding: 9px 2px;

  background: none;
  border: 0;
  cursor: pointer;
}

.burger__item {
  display: block;
  width: 28px;
  height: 3px;
  transition: 0.4s;

  background-color: #fff;

  font-size: 0;
  color: transparent;

  position: relative;
}

.burger__item:before,
.burger__item:after {
  content: "";
  height: 100%;
  transition: 0.4s;

  background-color: #fff;

  position: absolute;
  right: 0;
  z-index: 1;
}

.burger__item:before {
  width: 30px;
  top: -8px;
}

.burger__item:after {
  width: 26px;
  bottom: -8px;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  justify-content: center;
}

.mainGallery {
  padding-top: 170px;
  background-color: #0f0f0f;
}

.mainGallery h1 {
  text-transform: uppercase;
  font-size: 45px;
  color: white;
  display: inline-block;
  border-bottom: 4px solid #688f4e;
  padding-bottom: 30px;
  text-align: center;
  margin-left: 28%;
}

.to_top.fixed {
  display: flex;
}

.to_top {
  display: none;
}

#to_top img {
  position: fixed;
  right: 40px;
  bottom: 60px;
  width: 60px;
  height: 50px;
  transform: rotate(-90deg);
  transition: 0.5s;
}

#to_top img:hover {
  opacity: 0.5;
  transition: 0.4s;
  bottom: 80px;
  cursor: pointer;
}

.mainGallery h2 {
  font-size: 35px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #688f4e;
  padding-bottom: 30px;
  text-align: center;
  padding-top: 160px;
}

.mainGallery .firstTask #nameOfTask {
  margin-left: 40%;
}

.mainGallery .secondTask #nameOfTask {
  margin-left: 32%;
}

#review1,
#task1,
#authorName1,
#review3,
#task3,
#authorName3 {
  font-size: 20px;
  color: white;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

#task1 {
  padding-bottom: 50px;
}

.mainGallery p {
  font-size: 20px;
  color: white;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.mainGallery img {
  width: 100%;
}

.mainGallery .slider_main,
.mainGallery .slider_main_2,
.mainGallery .slider_main_3 {
  padding-top: 70px;
  padding-bottom: 50px;
}

.mainGallery .slider_main img,
.mainGallery .slider_main_2 img,
.mainGallery .slider_main_3 img {
  height: 100%;
}

.mainGallery .slider_child div,
.mainGallery .slider_child_2 div,
.mainGallery .slider_child_3 div {
  margin-right: 10px;
  margin-left: 10px;
}

.slider_child div:focus,
.slider_child2 div:focus,
.slider_child3 div:focus {
  outline: none;
}

.slick-dots li button:before {
  font-size: 26px !important;
  line-height: 40px !important;
  content: "•" !important;
  color: #688f4e !important;
  transition: 0.5s;
}

.slick-dots {
  bottom: -45px !important;
}

.upperDots {
  padding-top: 70px;
}

.reviewDot {
  color: white;
  font-size: 40px;
  margin: 0 auto;
}

#right {
  position: absolute;
  text-align: right;
  margin-left: 78%;
}

.secondTask {
  background-color: white;
  margin-top: 130px;
  padding-bottom: 140px;
}
.secondTask .reviewDot {
  color: black;
}

.secondTask h2 {
  color: black;
}

.thirdTask h2 {
  margin-left: 39.5%;
}

.thirdTask {
  margin-top: 0px;
  padding-bottom: 70px;
}

#task3 {
  padding-bottom: 50px;
}

.secondTask #task2,
.secondTask #review2 {
  font-size: 20px;
  font-style: italic;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto;
  text-align: center;
}

.secondTask #authorName2 {
  font-size: 20px;
  font-style: italic;
  padding-top: 60px;
  margin: 0 auto;
  text-align: center;
}

.secondTask .slick-prev:before,
.secondTask .slick-next:before {
  font-size: 30px;
  color: black;
}
.firstTask .slick-prev:before,
.firstTask .slick-next:before,
.thirdTask .slick-next:before,
.thirdTask .slick-prev:before {
  font-size: 30px;
}

.mainFeedback {
  text-align: center;
  color: white;
}

#contact {
  text-transform: uppercase;
  font-size: 45px;
  color: black;
  display: inline-block;
  border-bottom: 4px solid #688f4e;
  padding-bottom: 30px;
  padding-top: 100px;
  margin: 0 auto;
}

#contactsText {
  margin-top: 60px;
  padding-bottom: 100px;
  font-style: italic;
  color: black;
  font-size: 18px;
}

.contactWrapper {
  width: 52%;
  margin: 0 auto;
  color: #2b2b2b;
}

.formInputs {
  display: flex;
  width: 100%;
  justify-content: center;
}

input {
  width: 100%;
  height: 42px;
  font-size: 20px;
  margin-bottom: 30px;
  justify-content: center;
}

.inputLeft {
  padding-right: 30px;
}

.red {
  color: red;
}

textarea {
  width: 100%;
  height: 150px;
}

input,
textarea {
  border: 1px solid #999999;
}

.buttonBlock {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 100px;
}

input[type="submit"] {
  margin-top: 30px;
  width: 165px;
  height: 40px;
  background: #688f4e;
  color: white;
  border: none;
  transition: 0.3s;
}

.button:hover {
  background: #fff;
  border: 3px solid #688f4e;
  color: #688f4e;
  transition: 0.3s;
  font-weight: bold;
}

form p {
  text-align: left;
  font-size: 18px;
}

footer {
  background: #222222;
  width: 100%;
  display: flex;
}

.social {
  padding-bottom: 30px;
  margin: 0 auto;
}

.social img {
  margin-top: 30px;
  padding-right: 14px;
}

@media screen and (max-width: 1080px) {
  .headerLogo {
    padding-top: 10px;
  }

  .company {
    display: flex;
    flex-direction: row;
  }

  .company span {
    padding-top: 10px;
    padding-left: 15px;
  }

  .topNav {
    display: none;
    width: 100%;
    flex-direction: column;

    background-color: #222222;
    text-align: right;

    position: absolute;
    top: 100%;
    right: 0;
  }

  .topNav.show {
    display: flex;
    width: 30%;
  }

  .topNav.show a {
    font-size: 25px;
    text-align: right;
  }

  .burger.active .burger__item {
    transform: rotate(45deg);
    top: -0px;
    width: 30px;
    transition: 0.4s;
  }

  .burger.active .burger__item::before {
    transform: rotate(90deg);
    width: 30px;
    top: -0px;
    transition: 0.4s;
  }

  .burger.active .burger__item::after {
    display: none;
  }

  /* Burger */
  .burger {
    display: block;
    margin-left: 25%;
  }

  .burger:focus {
    outline: none;
  }

  .firstTask {
    width: 100%;
  }

  .mainGallery h1 {
    margin-left: 16%;
  }

  #task1,
  #review1 {
    font-size: 13px;
  }

  .mainGallery #task2,
  .mainGallery #review2 {
    font-size: 13px;
  }

  .mainGallery #authorName2 {
    font-size: 20px;
  }
  #right.reviewDot {
    margin-left: 78%;
  }
  .mainGallery .firstTask #nameOfTask {
    margin-left: 32.5%;
  }

  .mainGallery .secondTask #nameOfTask {
    margin-left: 22%;
  }

  .slider_child div:focus,
  .slider_child_2 div:focus,
  .slider_child_3 div:focus {
    outline: none;
  }

  .thirdTask h2 {
    margin-left: 33%;
  }

  #task3,
  #review3 {
    font-size: 13px;
  }

  #contactsText {
    font-size: 25px;
  }

  .mainFeedback h1 {
    font-size: 44px;
  }

  .formInputs {
    flex-direction: column;
  }

  textarea {
    float: left;
    width: 100%;
  }

  input {
    float: left;
    width: 100%;
  }

  .inputLeft {
    padding: 0;
  }

  form p {
    font-size: 20px;
  }

  form .message p {
    font-size: 20px;
  }
  .buttonBlock {
    display: block;
  }

  input[type="submit"] {
    margin-top: 20px;
  }
}
