* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

header {
  background-image: url(img/backgroundHeader.png);
  background-attachment: fixed;
  display: flex;
  width: 100%;
  height: 90px;
  position: absolute;
}

header.fixed {
  position: fixed;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.headerLogo {
  font-size: 24px;
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  margin-left: 12%;
  margin-top: 10px;
}

.headerLogo img {
  margin-bottom: -2px;
  margin-left: -75px;
}

.company span {
  margin-left: 15px;
}

nav {
  margin-top: 16px;
  padding-left: 40%;
}

.topNav a {
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 12px 26px;
}

.topNav::selection {
  background-color: #688f4e;
  color: white;
}

.topNav a::selection {
  background-color: #688f4e;
  color: white;
}

.topNav .icon {
  display: none;
}

header a {
  display: inline-block;
  color: #688f4e;
  line-height: 2;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

header a:after {
  background-color: #688f4e;
  display: block;
  content: "";
  height: 2px;
  width: 0%;
  left: 50%;
  position: absolute;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}

a:hover:after,
a:focus:after {
  width: 100%;
}

.wrapper {
  width: 74%;
  margin: 0 auto;
}

.mainWorks {
  padding-top: 170px;
  background-color: #0f0f0f;
}

.mainWorks h1 {
  text-transform: uppercase;
  font-size: 45px;
  color: white;
  display: inline-block;
  border-bottom: 4px solid #688f4e;
  padding-bottom: 30px;
  text-align: center;
  margin-left: 26%;
}

.mainWorks h2 {
  font-size: 35px;
  color: white;
  display: inline-block;
  text-transform: uppercase;
  border-bottom: 4px solid #688f4e;
  padding-bottom: 30px;
  text-align: center;
  margin-left: 38%;
  margin-top: 160px;
}

.mainWorks p {
  font-size: 20px;
  color: white;
  font-style: italic;
  margin: 0 auto;
  text-align: center;
  margin-top: 60px;
}

.mainWorks img {
  width: 100%;
}

.mainWorks .slider_main {
  padding-top: 70px;
  padding-bottom: 50px;
}

.mainWorks .slider_main img {
  height: 735px;
}

.mainWorks .slider_child .slide3 img {
  height: 208px;
}

.mainWorks .slider_child div {
  margin-right: 30px;
  margin-left: 10px;
}
.slick-dots li button:before {
  font-size: 26px !important;
  line-height: 40px !important;
  content: "•" !important; /* <-- Вот этот символ */
  color: #688f4e !important;
}
